<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://startr.style/style.css">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Malls.live - {{ title }}</title>
        <style>
        h2{
            column-span: all;
            background-color: dodgerblue
        }
        </style>
    </head>
    <body style="
        --m: auto 0;
        --size:150%"
        >
        <header style="--bg:deepskyblue">
            <h1>{{ title }}</h1>
        </header>
        <section>
            <div style="--shadow: 7; --p: 0.6em">
                <p>{{ description }}</p>
                {{ content | safe }}
            </div>
            <div style="--cs:all">
                <p>© 2024 Malls.live and Startr LLC</p>
                <a href="https://malls.live">Go Home</a>
            </div>
        </section>

    </body>
</html>