---
layout: layouts/base.html
---
<section class="wow fadeIn" style="
	--m: auto;	
	--bg:white;
	--p:1.2em;
	--p-sm:3em;
	--br:12px;
	box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
	outline:var(--yellow) solid;
	outline-offset: -0.6em;
	--b-width:2px;
	--w:80%;
	--maxw:66rem;
	--ai:center;">
	<h1>{{ title }}</h1>

	<ul class="post-metadata"
	style="--lis: none">
		<time datetime="{{ page.date | htmlDateString }}">{{ page.date | readableDate }}</time>
		{%- if page.data.author %}<li>Author: {{ page.data.author }}</li>{%- endif %}
		{%- for tag in tags | filterTagList %}
		{%- set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
		<li style="--ml:2rem"><a href="{{ tagUrl }}" class="post-tag" style="--d:inline-block">{{ tag }}</a>{%- if not loop.last %}, {% endif %}
		</li>
		{%- endfor %}
	</ul>

	{{ content | safe }}
</section>
{%- if collections.all %}
<section class="wow fadeIn" style="
	  --d:flex;
	  --m: 2rem auto;	
	  --bg:white;
	  --p:1em;
	  --br:12px;
	  box-shadow: 10px 10px 0px 0px rgba(0,0,0,0.75);
	  outline:var(--yellow) solid;
	  outline-offset: -0.6em;
	  --b-width:2px;
	  --w:40%;
	  --maxw:44rem;
	  --ai:center;">
	{%- set previousPost = collections.all | getPreviousCollectionItem %}
	{%- set nextPost = collections.all | getNextCollectionItem %}
	{%- if nextPost or previousPost %}
	<ul class="links-nextprev"
		style="
		--lis:none;
		--w:min-content;
		--w-sm:100%;
		--p:0;
		--p-sm:2rem;
		--m:auto;
		--ta:center;
		">
		{%- if previousPost.data.title %}<li>Previous: <a style="--d:inline-block"href="{{ previousPost.url }}">{{ previousPost.data.title }}</a></li>
		{% endif %}
		{%- if nextPost.data.title %}<li>Next: <a style="--d:inline-block" href="{{ nextPost.url }}">{{ nextPost.data.title }}</a></li>{% endif %}
	</ul>
	{%- endif %}
</section>
{%- endif %}